<link href="/assets/css/student/nav.css" rel="stylesheet" />
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/mini-logo.png" alt="" width="170" height="40" />
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-3 mb-lg-0">
        <li class="nav-item mx-2">
          <a class="nav-link" aria-current="page" href="/myCourses">My Courses</a>
        </li>

      </ul>
      <form class="d-flex">
        <input id="search1" class="form-control me-3" type="search" placeholder="Search" aria-label="Search" </form>
        <ul class="navbar-nav me-auto mb-3 mb-lg-0" style="margin-right: 0 !important;">
          <li>
            <p style="padding-top:15px">Name</p>
          </li>
          <li>
              <img src="/assets/images/mini-logo.png" alt="" width="170" height="40" />
          </li>

          <li class="nav-item mx-2">
            <a class="nav-link" aria-current="page" href="/signout">Sign out</a>
          </li>
        </ul>

    </div>
  </div>
</nav>
<div class="q-example-divider"></div>
<script>
  $("#search1").on('keyup', function (e) {
    if (e.key === 'Enter' || e.keyCode === 13) {
      let keyword = $(this).val();
      window.location.href=`/search?q=${keyword}`;
    }
  });
</script>