@font-face {
  font-family: Sansation;
  src: url("/assets/fonts/Sansation_Bold.ttf");
  font-weight: bold;
}

body {
  background-image: url("../images/background.png");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

#btn-stat {
  position: absolute;
  width: 8rem;
  height: 2.6rem;
  left: 30rem;
  top: 2.5rem;
  filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.06)) drop-shadow(0px 3px 14px rgba(0, 0, 0, 0.09)) drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.2));
  background: #7F7FD5;
  border-radius: 1rem;
  /* border-color: #7F7FD5; */
  border: #7F7FD5;
  font-family: Sansation;
  font-style: normal;
  font-weight: 00;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.sec-title {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.sec-title > h1 {
  font-family: Sansation;
  font-style: normal;
  font-weight: bold;
  font-size: 85px;
  line-height: 107px;
  opacity: 0;
  color: #4f4f4f;
}

#title {
  position: absolute;
  width: 128px;
  height: 50px;
  left: 8rem;
  top: 2.5rem;

  font-family: Sansation;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
  display: flex;
  align-items: center;

  /* text|dark */

  color: #4f4f4f;
}

.box {
  background: #ffffff;
  box-shadow: 0px 15px 50px rgba(160, 163, 189, 0.25);
  border-radius: 10px;
  height: 100%;
  width: 100%;
  position: relative;
}

#sec-1 > .row {
  height: 17vh;
}

.icon-1 {
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  transform: translate(0, -50%);
  left: 1.3rem;
}

.group-1 > h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #171717;
}

.group-1 {
  position: absolute;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  color: #b9b9b9;
  top: 1.2rem;
  left: 6.5rem;
}

.group-1 > p {
  margin-bottom: 0.5rem;
}

.group-2 {
  position: absolute;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #b9b9b9;
}

#box-radio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.8rem;
  width: 10rem;
  height: 6rem;
  position: absolute;
  left: 18rem;
  top: 1rem;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  border-radius: 16px;
  z-index: 1;
}
.form-check > input {
  height: 20px;
  width: 20px;
}
.form-check label {
  margin-left: 0.3rem;
}

.form-check-input:checked {
  background-color: #616161;
  border-color: #616161;
}

#group-2-1 {
  top: 0.7rem;
  left: 2rem;
}

#group-2-2 {
  top: 0.7rem;
  right: 2rem;
}

#group-2-3 {
  top: 0.7rem;
  right: 2rem;
}

.group-2-2 > h1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.group-2-2 > p {
  margin-bottom: 0.5rem;
}

.group-2 > h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #171717;
}

#sec-2 {
  margin-top: 3vh;
  height: 28vh;
  width: 100%;
  padding: 0;
}

#sec-2 canvas {
  position: absolute;
  left: 3%;
  top: 25%;

  width: 94% !important;
  height: 75% !important;
}

#sec-3 {
  height: 100%;
}

#sec-3 > .box {
  padding: 0.7rem 1.7rem;
}

#sec-3 .table {
  padding: 0.5rem 1rem;
  padding-top: 0rem;
  padding-bottom: 0;
  padding-right: 0;
  margin-bottom: 0;
}

.group-3 {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #b9b9b9;
  position: relative;
  padding-top: 0.6rem !important;
  padding-bottom: 0.7rem !important;
}

.group-3 > h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #171717;
  display: inline-block;
  margin-top: 0rem;
}

.group-3 > p {
  display: inline-block;
  margin-bottom: 0;
}

.group-3 span {
  position: absolute;
  right: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  transform: translateY(8px);
  /* or 14px */

  letter-spacing: -0.4px;

  color: #000000;
}

#sec-3 .tag-inc {
  background: rgba(75, 222, 151, 0.1);
  border-radius: 3px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.4px;
  color: #4bde97;
}

#sec-3 .table h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: -0.4px;
  color: #171717;
  display: inline-block;
}

.table > :not(:first-child) {
  border-top: 2px solid #eeeeee;
}

#col-1 {
  width: 70%;
}
#col-2 {
  width: 30%;
}

#sec-4 canvas {
  position: absolute;
  left: 3%;
  top: 25%;
  width: 94% !important;
  height: 75% !important;
}

#sec-5 {
  height: 17vh;
}