<div id='main-container' class="container-fluid">
    <div class="row">
        <div class="col col-field">
            <form action="">

                <h2 class="title-1">
                    Sign up
                </h2>
                <h2 class="caption-1">
                    Sign up and start study with us
                </h2>

                <div class="input-group line-field shadow">
                    <span class="input-group-text" id="addon-wrapping">
                        <img src="../../assets/images/username.png" class="icon-input" />
                    </span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Recipient's username"
                        aria-describedby="basic-addon2">
                </div>
                <div class="input-group line-field shadow">
                    <span class="input-group-text" id="addon-wrapping">
                        <img src="../../assets/images/password.png" class="icon-input" />
                    </span>

                    <input type="text" class="form-control" placeholder="Password" aria-label="Recipient's username"
                        aria-describedby="basic-addon2">

                </div>
                <div class="input-group line-field shadow">
                    <span class="input-group-text" id="addon-wrapping">
                        <img src="../../assets/images/password.png" class="icon-input" />
                    </span>

                    <input type="text" class="form-control" placeholder="Confirm Password"
                        aria-label="Recipient's username" aria-describedby="basic-addon2">

                </div>
                <div class="input-group line-field shadow">
                    <span class="input-group-text" id="addon-wrapping">
                        <img src="../../assets/images/mobilephone.png" class="icon-input" />
                    </span>

                    <input type="text" class="form-control" placeholder="Phone number" aria-label="Recipient's username"
                        aria-describedby="basic-addon2">
                </div>

                <div class="input-group mb-3  line-checkbox ">
                    <input type="checkbox" aria-label="Checkbox for following text input"
                        style="margin-top: 5px; margin-right: 15px;   transform: scale(1.4);">
                    <p>I agree to HTV Meeting’s Terms of Service</p>
                </div>

                <button type="submits" class="btn btn-primary line-field shadow">Sign up</button>
            </form>
        </div>
        <div class="col col-signin">

            <p>Sign up with</p>

            <div type="button" class="btn btn-signin-with color-facebook shadow">
                <img src="../../assets/images/signin-facebook.png" />
                <p>Sign Up with Facebook</p>
            </div>
            <div type="button" class="btn btn-signin-with color-apple shadow">
                <img src="../../assets/images/signin-apple.png" />
                <p>Sign Up with Apple</p>
            </div>
            <div type="button" class="btn btn-signin-with color-google shadow">
                <img src="../../assets/images/signin-google.png" />
                <p> Sign Up with Google </p>
            </div>

        </div>
    </div>
</div>