{{! News }}
<div class="container-fluid mt-5">

    <div id="carousel-poster" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="/assets/images/course1.png" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>My Caption Title (1st Image)</h5>
                    <p>The whole caption will only show up if the screen is at least medium size.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/assets/images/course1.png" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/assets/images/course1.png" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>

{{! Best course }}
<div class="container mt-5 mx-auto">
    <div class="row carousel-cards">

        <p class="heading">Best course</p>

        <button class="slick-arrow slick-prev" type="button">
            <svg style="fill: rgb(120, 120, 120); height: 48px; width: 48px;">
                <g transform="translate(-362.000000, -1749.000000)">
                    <polygon points="376 1773 390.585 1789 391.999 1787.586 378.828 1773 391.999 1758.415 390.585 1757">
                    </polygon>
                </g>
            </svg>
        </button>

        <div class="col-sm-3">
            <div class="card mw-100 h-100">
                <img src="/assets/images/sub-logo-4.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Algebra: Elementary to Advanced - Equations </h5>
                    <p class="card-text">Some quick example text to build on the card
                        title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card mw-100 h-100">
                <img src="/assets/images/sub-logo-3.jpg""
                    class=" card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Introduction to Mathematical Thinking </h5>
                    <p class="card-text">Some quick example text to build on the card
                        title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card mw-100 h-100">
                <img src="/assets/images/sub-logo-1.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Mathematics for Machine Learning Specialization</h5>
                    <p class="card-text">Some quick example text to build on the card
                        title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card mw-100 h-100">
                <img src="/assets/images/sub-logo-2.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Game Theory </h5>
                    <p class="card-text">Some quick example text to build on the card
                        title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <button class="slick-arrow slick-next" type="button">
            <svg style="fill: rgb(120, 120, 120); height: 48px; width: 48px;">
                <polygon transform="translate(23.999500, 24.000000) scale(-1, 1) translate(-23.999500, -24.000000)"
                    points="16 24 30.585 40 31.999 38.586 18.828 24 31.999 9.415 30.585 8" role="presentation">
                </polygon>
            </svg>
        </button>

    </div>
</div>

{{! Best teacher }}
<div class="container mt-5 mx-auto">
    <p class="heading">Best teacher</p>
    <div class="row carousel-cards">

        <button class="slick-arrow slick-prev" type="button">
            <svg style="fill: rgb(120, 120, 120); height: 48px; width: 48px;">
                <g transform="translate(-362.000000, -1749.000000)">
                    <polygon points="376 1773 390.585 1789 391.999 1787.586 378.828 1773 391.999 1758.415 390.585 1757">
                    </polygon>
                </g>
            </svg>
        </button>

        <div class="col-sm-3">
            <div class="card mw-100">
                <img src="/assets/images/teacher1.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">David Dye</h5>

                    <p class="card-text">Some quick example text to build on the card
                        title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card mw-100">
                <img src="/assets/images/teacher1.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Courtney Henry</h5>

                    <p class="card-text">Some quick example text to build on the card
                        title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card mw-100">
                <img src="/assets/images/teacher1.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Jacob Jones</h5>

                    <p class="card-text">Some quick example text to build on the card
                        title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card mw-100">
                <img src="/assets/images/teacher1.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Brooklyn Simmons</h5>

                    <p class="card-text">Some quick example text to build on the card
                        title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <button class="slick-arrow slick-next" type="button">
            <svg style="fill: rgb(120, 120, 120); height: 48px; width: 48px;">
                <polygon transform="translate(23.999500, 24.000000) scale(-1, 1) translate(-23.999500, -24.000000)"
                    points="16 24 30.585 40 31.999 38.586 18.828 24 31.999 9.415 30.585 8" role="presentation">
                </polygon>
            </svg>
        </button>
    </div>
</div>

{{! About us }}
<div class="container">

</div>