<div class="css-nmveq4-Flex">
    <div class="css-j29dxe-Flex">
        <div class="css-1bhncgo"><img alt=""
                src="https://static.outschool.com/master/public/images/fg_desktop.764c7abe2887d7296a45d1d6c809d739.png"
                height="200">
            <div class="css-1ybo4uz">
                <h4 class="css-1cmfa2v">
                    <div>
                        <div class="css-zqevkv">Welcome, Cát Tường!</div>
                        <div class="css-1az72t9"><a
                                class="button-3Fieu raised-OKA78 secondary-2r6Xe medium-farUJ css-grxik2"
                                href="/online-classes?age&amp;order=upcoming&amp;delivery=Camp%2COngoing%20class#usuz5pUEkJ">
                                Explore Now</a></div>
                    </div>
                </h4>
            </div>
        </div>
    </div>
</div>
