<div class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <a href="#">
                    <button type="button" class="btn btn-primary btn-lg">Upload</button>
                </a>
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Example file input</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                </form>
            </div>

            <div class="col-lg-9">
                <form>
                    <h1 style="text-align: center;">Nhập thông tin khóa học </h1>
                    <div class="form-group">
                        <label for="course-name">Tên khóa học</label>
                        <input type="text" class="form-control" id="course-name" placeholder="Tên khóa học">
                    </div>
                    <div class="form-group">
                        <label for="course-teacher" class="label">Giảng viên</label>
                        <input type="text" class="form-control" id="course-teacher" placeholder="Giảng viên">
                    </div>
                    <div class="form-group">
                        <label for="course-subject" class="label">Lĩnh vực</label>
                        <input type="text" class="form-control" id="course-subject" placeholder="Lĩnh vực">
                    </div>
                    <div class="form-group">
                        <label for="course-date" class="label">Thứ trong tuần</label>
                        <input type="text" class="form-control" id="course-date" placeholder="Nhập thứ trong tuần">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="rememberMe">
                        <label class="form-check-label" for="rememberMe">Xác nhận thông tin</label>
                    </div>
                    <div class="btn-setup my-2">
                        <a href="#" class="btn btn-primary">Tham gia khóa học</a>
                        <a href="#" class="btn btn-primary btn-tinhtrang">Tình trạng</a>
                    </div>

                    <div class="form-group">
                        <label for="course-description">Mô tả khóa học</label>
                        <textarea class="form-control" id="course-description" rows="3"></textarea>
                    </div>

                    <!-- Example single danger button -->
                    <div>
                        <label for="course-payment">Phương thức thanh toán</label>
                        <div class="btn-group" style="width:100%;" id="course-payment">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" style="width: 100%;">
                                Momo
                            </button>
                            <div class="dropdown-menu" style="width:100%">
                                <a class="dropdown-item" href="#">Momo</a>
                                <a class="dropdown-item" href="#">Zalopay</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success btn-block my-3">Đăng khóa học</button>
                </form>
            </div>
        </div>
    </div>
</div>