<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<!-- Footer -->
<footer class="text-center text-white" style="background-color: rgb(82,64,120);">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/nguyen.tuong.5667" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Slack -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://app.slack.com/client/T0MAPCD1U/C02H86RANUR" role="button">
        <i class="fab fa-slack"></i>
      </a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.google.com.vn/" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/vienlee99/Software-Engineering-19_1" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>227, Nguyễn Văn Cừ, P. 4, Q. 5, Tp. Hồ Chí Minh</strong>
            </p>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        HTV Meeting là 1 nền tảng học trực tuyến. 
        Nền tảng học trực tuyến là hệ thống giúp kết nối giữa học viên và giảng viên lại
        với nhau thông qua phương thức dạy và học trực tuyến theo thời gian thực.  
        Hệ thống hỗ trợ, cung cấp cho giảng viên tạo và đăng khóa học lên trang web, 
        từ đó học viên sẽ có thể tìm kiếm, truy cập vào các khóa học mình đang có nhu cầu và đăng ký khóa học. 
        Sau khi đăng ký học viên có thể thanh toán tiền và bắt đầu học từ ngày khóa học được khai giảng. 
        Toàn bộ quá trình từ lúc tạo khóa học, đăng ký khóa học, diễn ra khóa học đến lúc hoàn tất khóa học 
        đều được thực hiện trực tuyến trên website học trực tuyến thông qua mạng Internet.
      </p>
    </section>
    <!-- Section: Text -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="https://github.com/vienlee99/Software-Engineering-19_1">HTV Meeting</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->