<nav id='pagination-nav' aria-label="..." class="mx-auto">
    <ul class="pagination" style="margin: auto;">
        <li class="page-item">
            <a id="first-page" class="page-linkk link-disable"> <&nbsp; Previous </a>
        </li>
        <li class="page-item">
            <a class="page-linkk page-num link-active">1</a>
        </li>
        <li class="page-item">
            <a class="page-linkk page-num">2</a>
        </li>
        <li class="page-item">
            <a class="page-linkk page-num">3</a>
        </li>
        <li class="page-item">
            <a class="page-linkk page-num">...</a>
        </li>
        <li class="page-item">
            <a class="page-linkk page-num">98</a>
        </li>
        <li class="page-item">
            <a id="last-page" class="page-linkk">Next &nbsp;></a>
        </li>
    </ul>
</nav>
<link rel="stylesheet" href="assets/css/pagination.css">
<script src="assets/js/pagination.js"></script>