<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{title}}}</title>
    {{> css/bootstrap}}

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md">
                {{> nav}}
            </div>
        </div>
        <div class="row py-2">
            <div class="col-md">
                {{{body}}}
            </div>
        </div>
        <div class="row py-2">
            <div class="col-md">
                {{> footer}}
            </div>
        </div>
    </div>
    {{> js/jquery}}
</body>

</html>