<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{title}}}</title>
    {{> css/bootstrap}}
    {{> css/main-css}}
    {{> css/nav-css}}
    {{> css/footer-css}}
    <link href="../../../../assets/css/{{{css}}}.css" rel="stylesheet" />

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md">
                {{> nav}}
            </div>
        </div>
        <div class="row" style="margin-top: 0px;">
            <div class="col-md">
                {{{body}}}
            </div>
        </div>
        <div class="row py-2">
            <div class="col-md">
                {{> footer}}
            </div>
        </div>
    </div>

    {{> js/jquery}}
    <script src="../../../../assets/js/{{{js}}}.js"></script>

</body>

</html>