<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<style>
  .checked { color: orange; } * {box-sizing: border-box} .container { width:
  100%; background-color: #ddd; } .skills { color: white; } .html {width: 20%;
  background-color: #04AA6D;}
</style>

<div
  style="position: absolute;
width: 400px;
height: 500px;
left: 200px;
top: 175px;"
>
  <img src="../../../assets/images/Math-Hinhhoc12.png" alt="Math1" />
</div>

<div
  style="display: flex;
width:1000px;
flex-direction: column;
align-items: flex-start;
position: absolute;
left: 550px;
top:120px"
>
  <div
    style="position: static;
font-size:30px; 
left: 0px;
flex: none;
order: 0;
flex-grow: 0;"
  >
    <p>Khóa học hình học 12 từ cơ bản đến nâng cao<br />Giảng viên: Nguyễn Văn A</p>
  </div>
  <div
    style="position: static;
font-size:23px; 
left: 0px;
flex: none;
order: 1;
flex-grow: 0;"
  >
    <p><b>Lịch học: 19h, Thứ 2, 4, 6 hàng tuần<br />
        Tuần bắt đầu: Thứ Hai, 24/01/2022</b></p>
  </div>
  <div
    style="position: static;
font-size:20px; 
left: 0px;
flex: none;
order: 2;
flex-grow: 0;"
  >

    <span class="fa fa-star checked" style="font-size: 35px;"></span>
    <span class="fa fa-star checked" style="font-size: 35px;"></span>
    <span class="fa fa-star checked" style="font-size: 35px;"></span>
    <span class="fa fa-star checked" style="font-size: 35px;"></span>
    <span class="fa fa-star checked" style="font-size: 35px;"></span>
    <span><p>200 lượt đánh giá</p></span>
    <span><p>Số lượng thành viên: 35/50</p></span>
    <span style="display: flex;">
      <div style="width:320px">
        Tiến độ khóa học:
      </div>
      <div class="container" style="height:30px; padding:0%">
        <div class="skills html" style="height:30px;">20%</div>
      </div>
    </span>
    <span>
      <div style="padding-top: 10px;padding-left:225px"><button
          style="font-size:30px;
        color:white;
        background-color: rgb(94, 92, 92);"
        >Đánh giá</button></div>
    </span>
  </div>
</div>