<div class="container-content" style="padding-top: 50px; ">
  <div class="mx-auto" style="    width: fit-content;">

    <img
      src="../../../assets/images/backgroundHomepage.png"
      alt=""
      srcset=""
      style="width: 100%px;"
      class="mx-auto"
    />
  </div>
</div>