<div class="container-content" style="padding-top: 200px; ">
  <div class="mx-auto" style="    width: fit-content;">

    <img
      src="/assets/images/big-logo.png"
      alt=""
      srcset=""
      style="width: 200px; margin-left: 0px !important"
      class="mx-auto"
    />
  </div>
</div>