<div class="container">
    <div class="sec-title">
        <h1>DASHBOARD</h1>
        <h2>by HTV dsfdsfsdf</h2>
    </div>

    <div id="main-content" class="container">
        <div class="row">
            <div id="col-1" class="col-8">
                <div class="row">
                    <div id="sec-1">
                        <div class="row">
                            <div class="col">
                                <div class="box">
                                    <img src="/assets/images/icon-course.png" alt="" class="icon-1">
                                    <div class="group-1">
                                        <h1>1478 286</h1>
                                        <p>Total visits</p>
                                        <img src="/assets/images/icon-trending-up.png">
                                        <span>4.07%</span>
                                        <span>&ThinSpace;Last month</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="box">
                                    <img src="/assets/images/icon-student.png" alt="" class="icon-1">
                                    <div class="group-1">
                                        <h1>1478 286</h1>
                                        <p>Total visits</p>
                                        <img src="/assets/images/icon-trending-up.png">
                                        <span>4.07%</span>
                                        <span>&ThinSpace;Last month</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="box">
                                    <img src="/assets/images/icon-teacher.png" alt="" class="icon-1">
                                    <div class="group-1">
                                        <h1>1478 286</h1>
                                        <p>Total visits</p>
                                        <img src="/assets/images/icon-trending-down.png">
                                        <span>4.07%</span>
                                        <span>&ThinSpace;Last month</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div id="sec-2">
                            <div class="box">
                                 <div id="group-2-1" class="group-2">
                                    <h1>Incomme per month</h1>
                                    <p>May - Oct</p>
                                </div>
                                <div id="group-2-2" class="group-2 group-2-2">
                                    <p>This month</p>
                                    <h1>475 273</h1>
                                </div>
                                <div id="group-2-3" class="group-2 group-2-2">
                                    <p>Same period last year</p>
                                    <h1>225 273</h1>
                                </div>
                                <!--
                                <div class="group-1">
                                    <h1>1478 286</h1>
                                    <p>Total visits</p>
                                    <img src="/assets/images/icon-trending-up.png">
                                    <span>4.07%</span>
                                    <span>&ThinSpace;Last month</span>
                                </div>
                                <div class="group-1">
                                    <h1>1478 286</h1>
                                    <p>Total visits</p>
                                    <img src="/assets/images/icon-trending-up.png">
                                    <span>4.07%</span>
                                    <span>&ThinSpace;Last month</span>
                                </div> -->
                                <canvas id="myChart"  style="width:200px ;height:100px"></canvas>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="col-2" class="col-4">
                <div id="sec-3">
                    <div class="box">

                    <div id="group-3-0" class="group-3">
                        <h1>Top Subject</h1><br>
                        <p>28 subjects, 1400 Courses</p>
                    </div>

                    <div class="table">
                        <div id="group-3-0" class="group-3">
                            <h1>Math</h1><span class="tag-count">8.2k</span><br>
                            <p>Natural science</p><span class="tag-inc">+472</span>
                        </div>
                        <div id="group-3-0" class="group-3">
                            <h1>Physics</h1><span class="tag-count">8.2k</span><br>
                            <p>Natural science</p><span class="tag-inc">+472</span>
                        </div>
                        <div id="group-3-0" class="group-3">
                            <h1>Chemistry</h1><span class="tag-count">8.2k</span><br>
                            <p>Natural science</p><span class="tag-inc">+472</span>
                        </div>
                        <div id="group-3-0" class="group-3">
                            <h1>Deep Learning</h1><span class="tag-count">8.2k</span><br>
                            <p>AI</p><span class="tag-inc">+472</span>
                        </div>
                        <div id="group-3-0" class="group-3">
                            <h1>Machine Learning</h1><span class="tag-count">8.2k</span><br>
                            <p>AI</p><span class="tag-inc">+472</span>
                        </div>
                    </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"></script>
