<di style="
  width:1500px;
  height:500px;
font-size: 18px;
display: flex;
flex-direction: column;
align-items: flex-start;
position: absolute;
left: 400px;
top: 100px;
overflow-y:scroll;
overflow-x:hidden;
">


  {{#each course}}
  <div style="position: relative;height: 160px;left: 0px;flex: none;order: 0;flex-grow: 0;">
    <img src="/assets/images/{{imagePath}}" alt="Math" style="position: absolute;height: 150px;left: 0px;top: 0px;" />
    <div
      style=" display: flex;flex-direction: column;align-items: flex-start;padding: 0px;position: absolute;width: 1000px;height: 150px;left: 200px;top: 10px;">
      <div
        style="position: static;height:25px;left: 0px;display: flex;align-items: center;color: #18191A;flex: none;order: 0;flex-grow: 0;margin: 8px 0px;">
        <p>{{name}}</p>
      </div>
      <div
        style="position: static;
        height:25px;left: 0px;display: flex;align-items: center;color: #B12704;flex: none;order: 1;flex-grow: 0;margin: 8px 0px;">
        <p>Trang thái: Đã hoàn thành</p>

      </div>
      <div style="position: static;
                  height: 25px;
                  left: 0px;
                  display: flex;
                  align-items: center;

                  flex: none;
                  order: 2;
                  flex-grow: 0;
                  margin: 8px 0px;">

        <button class="btn btn-danger" style="height: 3rem; width: 7rem; font-size: 20px;">
          <a href="/myCourses/rating?id={{_id}}" style="text-decoration: none; color:white;">Đánh giá</a>
        </button>
      </div>
    </div>
  </div>
  <div class="mb-4"></div>
  {{/each}}


  </div>
  </div>