<div
  style="
  width:1500px;
  height:500px;
font-size: 18px;
display: flex;
flex-direction: column;
align-items: flex-start;
position: absolute;
left: 400px;
top: 100px;
overflow-y:scroll;
overflow-x:hidden;
"
>
  <div
    style="position: static;
height: 160px;
left: 0px;
flex: none;
order: 0;
flex-grow: 0;"
  >
    <img
      src="../../../assets/images/Math-Giaitich12.png"
      alt="Math2"
      style="position: absolute;
width: 125px;
height: 150px;
left: 0px;
top: 0px;"
    />
    <div
      style="
    display: flex;
    top:10px;
flex-direction: column;
align-items: flex-start;
position: absolute;
width: 1000px;
height: 150px;
left: 200px;"
    >
      <div
        style="position: static;
        height:25px;
left: 0px;
display: flex;
align-items: center;
color: #18191A;
flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;"
      >
        <p>Giải tích 12 - Từ cơ bản đến nâng cao</p>
      </div>
      <div
        style="position: static;
        height:25px;
left: 0px;
display: flex;
align-items: center;
color: black;
flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;"
      >
        <p>Trang thái: Đã hoàn thành</p>
      </div>
      <div
        style="position: static;
height: 25px;
left: 0px;
display: flex;
align-items: center;

flex: none;
order: 2;
flex-grow: 0;
margin: 8px 0px;"
      >
        <button
          style="font-size:25px;color:white;background-color: #04AA6D;"
        >Đánh giá</button>
      </div>
    </div>
  </div>
  <div
    style="position: static;
height: 160px;
left: 0px;
flex: none;
order: 1;
flex-grow: 0;"
  >
    <img
      src="../../../assets/images/Math-DSTT.png"
      alt="Math2"
      style="position: absolute;
width: 125px;
height: 150px;
left: 0px;
top: 180px;"
    />
    <div
      style="
    display: flex;
flex-direction: column;
align-items: flex-start;
top:190px;
position: absolute;
width: 1000px;
height: 150px;
left: 200px;"
    >
      <div
        style="position: static;
        height:25px;
left: 0px;
display: flex;
align-items: center;
color: #18191A;
flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;"
      >
        <p>Chinh phục Đại số tuyến tính</p>
      </div>
      <div
        style="position: static;
        height:25px;
left: 0px;
display: flex;
align-items: center;
color: black;
flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;"
      >
        <p>Trạng thái: Chưa hoàn thành</p>
      </div>
      <div
        style="position: static;
height: 25px;
left: 0px;
display: flex;
align-items: center;

flex: none;
order: 2;
flex-grow: 0;
margin: 8px 0px;"
      >
        <button
          style="font-size:25px;color:white;background-color: #5d6160;"
        >Đánh giá</button>
      </div>
    </div>
  </div>
  <div
    style="position: static;
height: 160px;
left: 0px;
flex: none;
order: 2;
flex-grow: 0;"
  >
    <img
      src="../../../assets/images/Math-VTP1b.png"
      alt="Math2"
      style="position: absolute;
width: 125px;
height: 150px;
left: 0px;
top: 360px;"
    />
    <div
      style="
    display: flex;
flex-direction: column;
align-items: flex-start;
top:370px;
position: absolute;
width: 1000px;
height: 150px;
left: 200px;"
    >
      <div
        style="position: static;
        height:25px;
left: 0px;
display: flex;
align-items: center;
color: #18191A;
flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;"
      >
        <p>Thông thạo Vi tích phân 1B</p>
      </div>
      <div
        style="position: static;
        height:25px;
left: 0px;
display: flex;
align-items: center;
color: black;
flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;"
      >
        <p>Trang thái: Chưa hoàn thành</p>
      </div>
      <div
        style="position: static;
height: 25px;
left: 0px;
display: flex;
align-items: center;

flex: none;
order: 2;
flex-grow: 0;
margin: 8px 0px;"
      >
        <button
          style="font-size:25px;color:white;background-color: #5d6160;"
        >Đánh giá</button>
      </div>
    </div>
  </div>
  <div
    style="position: static;
height: 160px;
left: 0px;
flex: none;
order: 3;
flex-grow: 0;"
  >
    <img
      src="../../../assets/images/Math-GiaiTich1.png"
      alt="Math2"
      style="position: absolute;
width: 125px;
height: 150px;
left: 0px;
top: 540px;"
    />
    <div
      style="
    display: flex;
flex-direction: column;
align-items: flex-start;
top:550px;
position: absolute;
width: 1000px;
height: 150px;
left: 200px;"
    >
      <div
        style="position: static;
        height:25px;
left: 0px;
display: flex;
align-items: center;
color: #18191A;
flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;"
      >
        <p>Cùng học Giải tích </p>
      </div>
      <div
        style="position: static;
        height:25px;
left: 0px;
display: flex;
align-items: center;
color: black;
flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;"
      >
        <p>Trang thái: Chưa hoàn thành</p>
      </div>
      <div
        style="position: static;
height: 25px;
left: 0px;
display: flex;
align-items: center;

flex: none;
order: 2;
flex-grow: 0;
margin: 8px 0px;"
      >
        <button
          style="font-size:25px;color:white;background-color: #5d6160;"
        >Đánh giá</button>
      </div>
    </div>
  </div>
</div>