<style>
  input[type=text], select { padding: 12px 20px; margin: 8px 0; display:
  inline-block; border: 1px solid #ccc; border-radius: 4px; box-sizing:
  border-box; }
</style>

<div
  style="position: absolute;
width: 400px;
height: 500px;
left: 200px;
top: 175px;"
>
  <img src="../../../assets/images/Math-Hinhhoc12.png" alt="Math1" />
</div>

<div
  style="display: flex;
width:1000px;
flex-direction: column;
align-items: flex-start;
position: absolute;
left: 550px;
top:150px"
>
  <div
    style="position: static;
font-size:30px; 
left: 0px;
flex: none;
order: 0;
flex-grow: 0;"
  >
    <p>Khóa học hình học 12 từ cơ bản đến nâng cao</p>
  </div>
  <div
    style="position: static;
font-size:35px; 
left: 0px;
flex: none;
order: 1;
flex-grow: 0;"
  >
    <p><b>1.000.000đ</b></p>
  </div>
  <div
    style="position: static;
font-size:20px; 
left: 0px;
flex: none;
order: 2;
flex-grow: 0;
padding-top:20px;"
  >
    <div style="display: flex;">
      <div>
        <input
          type="text"
          id="fname"
          name="firstname"
          placeholder="Nhập mã xác nhận"
        />
      </div>
      <div style="padding-left: 40px;padding-top:10px;"><button
          style="
        font-size:30px;
        color:white;
        background-color: #B12704;"
        >Gửi mã</button></div>
    </div>
  </div>
  <div
    style="position: static;
left: 0px;
flex: none;
order: 3;
flex-grow: 0;
padding-top:50px;"
  >
    <button
      style="
        font-size:30px;
        color:white;
        background-color: #B12704;"
    >Thanh toán</button>
  </div>
</div>