<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<style>
  .checked { color: orange; }
</style>

<div
  style="position: absolute;
  display:flex;
  flex-direction:column;
width: 400px;
height: 500px;
left: 250px;
top: 100px;"
>
  <div
    style="position: static;
left: 0px;
flex: none;
order: 0;
flex-grow: 0;
font-size:30px;
"
  ><p>Đánh giá khóa học #AAAA</p></div>
  <div
    style="position: static;
left: 0px;
flex: none;
order: 1;
flex-grow: 0;
font-size:30px;
"
  ><p>Hình học 12 - Khó mà dễ</p></div>
  <div
    style="position: static;
flex: none;
order: 2;
flex-grow: 0;"
  >
    <img src="../../../assets/images/Math-Hinhhoc12.png" alt="Math1" />
  </div>
</div>

<div
  style="display: flex;
width:1000px;
flex-direction: column;
align-items: flex-start;
position: absolute;
left: 700px;
top:120px"
>
  <div
    style="position: static;
font-size:30px; 
left: 0px;
flex: none;
order: 0;
flex-grow: 0;"
  >
    <p style="color: blueviolet;">Vui lòng đánh giá khóa học<br />(Học viên chọn
      từ 1-5 sao)</p>
  </div>
  <div
    style="position: static;
font-size:23px; 
left: 0px;
flex: none;
order: 1;
flex-grow: 0;"
  >
    <span class="fa fa-star" style="font-size: 35px;"></span>
    <span class="fa fa-star" style="font-size: 35px;"></span>
    <span class="fa fa-star" style="font-size: 35px;"></span>
    <span class="fa fa-star" style="font-size: 35px;"></span>
    <span class="fa fa-star" style="font-size: 35px;"></span>
  </div>
  <div
    style="position: static;
font-size:20px; 
left: 0px;
flex: none;
order: 2;
flex-grow: 0;
padding-top:10px;"
  >
    <textarea
      rows="10"
      cols="70"
      type="text"
      id="fname"
      name="firstname"
      placeholder="Nhập bình luận của bạn"
      style="width: 400px;
      height:200px;
      padding:10px;"
    ></textarea>
  </div>
  <div
    style="position: static;
left: 0px;
flex: none;
order: 3;
flex-grow: 0;
padding-top:10px;"
  >
    <button
      style="
        font-size:30px;
        color:white;
        background-color: #B12704;"
    >Xác nhận</button>
  </div>
</div>