<form>
  <style>
    nav {
      left: 0px;
      top: 0px;
    }

    div,
    label {
      margin: 0;
      padding: 0;
    }

    body {
      margin: 20px;
    }

    h1 {
      font-size: 1.5em;
      margin: 10px;
    }

    /****** Style Star Rating Widget *****/
    #rating {
      border: none;
      float: left;
    }

    #rating>input {
      display: none;
    }

    /*ẩn input radio - vì chúng ta đã có label là GUI*/
    #rating>label:before {
      margin: 5px;
      font-size: 1.25em;
      font-family: FontAwesome;
      display: inline-block;
      content: "\f005";
    }

    /*1 ngôi sao*/
    #rating>.half:before {
      content: "\f089";
      position: absolute;
    }

    /*0.5 ngôi sao*/
    #rating>label {
      color: #ddd;
      float: right;
    }

    /*float:right để lật ngược các ngôi sao lại đúng theo thứ tự trong thực tế*/
    /*thêm màu cho sao đã chọn và các ngôi sao phía trước*/
    #rating>input:checked~label,
    #rating:not(:checked)>label:hover,
    #rating:not(:checked)>label:hover~label {
      color: #FFD700;
    }

    /* Hover vào các sao phía trước ngôi sao đã chọn*/
    #rating>input:checked+label:hover,
    #rating>input:checked~label:hover,
    #rating>label:hover~input:checked~label,
    #rating>input:checked~label:hover~label {
      color: #FFED85;
    }
  </style>
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"
    integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <style>
    .checked {
      color: orange;
    }
  </style>

  <div style="position: absolute;
  display:flex;
  flex-direction:column;
width: 400px;
height: 500px;
left: 250px;
top: 100px;">
    <div style="position: static;
left: 0px;
flex: none;
order: 0;
flex-grow: 0;
font-size:30px;
">
      <p><b>Đánh giá khóa học</b></p>
    </div>
    <div style="position: static;
left: 0px;
flex: none;
order: 1;
flex-grow: 0;
font-size:30px;
">
      <p>{{course.name}}</p>
    </div>
    <div style="position: static;
flex: none;
order: 2;
flex-grow: 0;">
      <img src="../../../assets/images/Math-Hinhhoc12.png" alt="Math1" />
    </div>
  </div>

  <div style="display: flex;
width:1000px;
flex-direction: column;
align-items: flex-start;
position: absolute;
left: 700px;
top:120px">
    <div style="position: static;
font-size:30px; 
left: 0px;
flex: none;
order: 0;
flex-grow: 0;">
      <p style="color: blueviolet; margin-bottom: 0; font-weight: 600;">Vui lòng đánh giá khóa học</p>
      <p style="color: rgb(168, 113, 219); font-size:22px; margin-left: 30px;">(Học viên chọn từ 1-5 sao)</p>
    </div>
    <div style="position: static;
font-size:23px; 
left: 0px;
flex: none;
order: 1;
flex-grow: 0;">
      <div id="rating">
        <input type="radio" id="star5" name="rating" value="5" />
        <label class="full" for="star5" title="Awesome - 5 stars"></label>

        <input type="radio" id="star4half" name="rating" value="4 and a half" />
        <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>

        <input type="radio" id="star4" name="rating" value="4" />
        <label class="full" for="star4" title="Pretty good - 4 stars"></label>

        <input type="radio" id="star3half" name="rating" value="3 and a half" />
        <label class="half" for="star3half" title="Meh - 3.5 stars"></label>

        <input type="radio" id="star3" name="rating" value="3" />
        <label class="full" for="star3" title="Meh - 3 stars"></label>

        <input type="radio" id="star2half" name="rating" value="2 and a half" />
        <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>

        <input type="radio" id="star2" name="rating" value="2" />
        <label class="full" for="star2" title="Kinda bad - 2 stars"></label>

        <input type="radio" id="star1half" name="rating" value="1 and a half" />
        <label class="half" for="star1half" title="Meh - 1.5 stars"></label>

        <input type="radio" id="star1" name="rating" value="1" />
        <label class="full" for="star1" title="Sucks big time - 1 star"></label>

        <input type="radio" id="starhalf" name="rating" value="half" />
        <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
      </div>
    </div>
    <div style="position: static;
font-size:20px; 
left: 0px;
flex: none;
order: 2;
flex-grow: 0;
padding-top:10px;">
      <textarea rows="10" cols="70" type="text" id="fname" name="cmt" placeholder="Nhập bình luận của bạn" style="width: 400px;
      height:200px;
      padding:10px;"></textarea>
    </div>
    <div style="position: static;
left: 0px;
flex: none;
order: 3;
flex-grow: 0;
padding-top:10px;">
      <input id="courseId" style="display: none;" value="{{course._id}}">
      <input id="userId" style="display: none;" value="{{user._id}}">

      <button id="xacnhan" class="btn btn-danger" style="height: 3rem; width: 7rem; font-size: 20px;">
        Xác nhận  
      </button>
      <script>
        $('#xacnhan').click(function () {
          // let courseId = $('#courseId').text()
          // let userId = $('#userId').text()
          let form = new FormData($('form'))

          
          $.ajax({
            type: 'POST',
            url: '/myCourses/rating/',
            data: form,
            succcess: function (data) {
              alert(data)
              console.log(data)
            },
            contentType: false,
            processData: false,
          })
        })
      </script>
    </div>
  </div>

</form>