.shadow-bottom {
  filter: drop-shadow(0px 10px 5px black);
}

.shadow-top {
  filter: drop-shadow(0px -10px 5px black);
}

.shadow-right {
  filter: drop-shadow(10px 0px 5px black);
}

.shadow-left {
  filter: drop-shadow(-10px 0px 5px black);
}
