@import "./shadow.css";

#main-content {
  background-image: url("../images/background.png");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.icon-input {
  width: 25px;
}

/* ~~~~~~~~~~~~~~~~~~~~~ col-2 ~~~~~~~~~~~~~~~~~~~~~ */

.col-signin {
  margin-top: 15rem;
  width: 20rem;
}

.col-signin > p {
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.btn-signin-with {
  width: 100%;
  height: 3.3rem;
  border-radius: 10px;
  margin-bottom: 1.6rem;
  width: 20rem;
  text-align: start !important;
  padding: 0.9rem;
  position: relative;
}

.btn-signin-with > img {
  width: 1.5rem;
  vertical-align: baseline;
  margin-right: 0.8rem;
}

.btn-signin-with > p {
  display: inline-block;
  margin-bottom: 0.5rem;
  position: absolute;
  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 22px;
  color: #ffffff;
}

.color-facebook {
  background-color: #1877f2;
}

.color-apple {
  background-color: black;
}

.color-google {
  background-color: white;
}

.color-google > p {
  color: rgba(0, 0, 0, 0.54);
}

/* ~~~~~~~~~~~~~~~~~~~~~ col-2 ~~~~~~~~~~~~~~~~~~~~~ */

.line-field {
  width: 30rem;
  margin-bottom: 1.6rem;
  height: 3rem;
  border-radius: 10px;
}

.line-field > * {
  border-radius: 10px;
}

.col-field > button {
  background: #7f7fd5;
  border: none;

  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
.col-field {
  margin-left: 15rem;
  margin-top: 3.5rem;
  width: 10rem;
}

.title-1 {
  font-style: normal;
  font-weight: normal;
  font-size: 4rem;
  line-height: 5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.caption-1 {
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.9rem;
  text-align: center;
  margin-bottom: 2rem;
}
