<div class="container">

    <form id="formX">
        <div class="box-radio">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="type" id="CourseR" value="course" checked>
                <label class="form-check-label" for="CourseR">Course</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="type" id="TeacherR" value="teacher">
                <label class="form-check-label" for="TeacherR">Teacher</label>
            </div>
            <script>
                $("input[name=type]").change(function () {
                    if (this.value == 'course') {
                        $('#fram-1').css('display', 'contents')
                        $('#fram-2').css('display', 'none')
                    }
                    else {
                        $('#fram-1').css('display', 'none')
                        $('#fram-2').css('display', 'contents')
                    }
                });
            </script>
        </div>

        <div class="sec-title">
            <p id="title">Search</p>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                    <img src="/assets/images/icon-search.png">
                </span>
                <input type="text" name="query" class="form-control" placeholder="FIND ITEMS" id="search">
            </div>
            <button id="btn-stat">Search</button>
            <script>
                var page = 1;
                $('#btn-stat').click(function (e) {
                    var choose = $("input[name=type][value='course']").is(':checked');
                    e.preventDefault();
                    let form;
                    let formX = new FormData($('#formX').get(0));
                    if (choose) {
                        console.log('dsf')
                        form = new FormData($('#form1').get(0));
                    }
                    else {

                        form = new FormData($('#form2').get(0));
                    }

                    for (var pair of formX.entries())
                        form.append(pair[0], pair[1]);
                    form.append('page', page);

                    for (var pair of form.entries())
                        console.log(pair[0], pair[1]);

                    $.ajax({
                        type: "POST",
                        url: '/search',
                        data: form,
                        success: function (data) {
                            reloadTable(choose, data)
                        },
                        contentType: false,
                        processData: false,
                    });
                })
            </script>
        </div>

    </form>

    <form id="form1">
        <div id="fram-1" >
            <div id="main-content">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">Course</th>
                            <th class="text-center">Teacher</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Date</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody id="tableCourse">

                    </tbody>
                </table>


            </div>
            <div class="box-sort">
                <select class="form-select" name="order">
                    <option selected style="display: none;">Sort by</option>
                    <option value="1">Name</option>
                    <option value="2">Rating</option>
                    <option value="3">Status</option>
                    <option value="4">Date start</option>
                </select>
            </div>

            <div class="box-select">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="filter" value='Math'>
                    <label class="form-check-label" for="flexCheckDefault">
                        Math
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="filter" value='Physic'>
                    <label class="form-check-label" for="flexCheckDefault">
                        Physic
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="filter" value='Data Science'>
                    <label class="form-check-label" for="flexCheckDefault">
                        Data Science
                    </label>
                </div>
            </div>
        </div>
    </form>

    <form id="form2">
        <div id="fram-2" style="display: none;">
            <div id="main-content">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">Teacher</th>
                            <th class="text-center">Rating</th>
                            <th class="text-center">University</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody id="tableTeacher">

                    </tbody>
                </table>


            </div>
            <div class="box-sort">
                <select class="form-select" name="order">
                    <option selected style="display: none;">Sort by</option>
                    <option value="1">Teacher name</option>
                    <option value="2">Rating</option>
                    <option value="3">University</option>
                    <option value="4">Status</option>
                </select>
            </div>

            <div class="box-select">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="filter" value="ĐH BACHKHOA TPHCM">
                    <label class="form-check-label" for="flexCheckDefault">
                        ĐH BACHKHOA TPHCM
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="filter" value="ĐH KHTN TPHCM">
                    <label class="form-check-label" for="flexCheckDefault">
                        ĐH KHTN TPHCM
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="filter" value="ĐH SPKT TPHCM">
                    <label class="form-check-label" for="flexCheckDefault">
                        ĐH SPKT TPHCM
                    </label>
                </div>
            </div>
        </div>
    </form>

    {{> pagination }}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"></script>
</div>