<div class="container">

    <div class="sec-title">
        <p id="title">Search</p>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
                <img src="/assets/images/icon-search.png">
            </span>
            <input type="text" class="form-control" placeholder="FIND ITEMS" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>
        <button id="btn-stat">Search</button>
    </div>

    <div id="fram-1" style="display: none;">
        <div id="main-content">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">Course</th>
                        <th class="text-center">Teacher</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Date</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img class="icon-sub" style="background-image: url(/assets/images/sub-logo-1.jpg)">
                            Matdematics for Machine Learning Specialization
                        </td>
                        <td>
                            <img class="icon-tea"
                                style="background-image: url(/assets/images/teacher1.jpg);background-size: 67px">
                            David Dye
                        </td>
                        <td><img class="icon-status" src="/assets/images/active.png"></td>
                        <td>18.05.2020</td>
                        <td>
                            <div>
                                <img src="/assets/images/icon-action-info.png ">
                                <img src="/assets/images/icon-action-block.png ">
                                <img src="/assets/images/icon-action-delete_forever.png ">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="icon-sub" style="background-image: url(/assets/images/sub-logo-1.jpg)">
                            Matdematics for Machine Learning Specialization
                        </td>
                        <td>
                            <img class="icon-tea"
                                style="background-image: url(/assets/images/teacher1.jpg);background-size: 67px">
                            David Dye
                        </td>
                        <td><img class="icon-status" src="/assets/images/active.png"></td>
                        <td>18.05.2020</td>
                        <td>
                            <div>
                                <img src="/assets/images/icon-action-info.png ">
                                <img src="/assets/images/icon-action-block.png ">
                                <img src="/assets/images/icon-action-delete_forever.png ">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="icon-sub" style="background-image: url(/assets/images/sub-logo-1.jpg)">
                            Matdematics for Machine Learning Specialization
                        </td>
                        <td>
                            <img class="icon-tea"
                                style="background-image: url(/assets/images/teacher1.jpg);background-size: 67px">
                            David Dye
                        </td>
                        <td><img class="icon-status" src="/assets/images/active.png"></td>
                        <td>18.05.2020</td>
                        <td>
                            <div>
                                <img src="/assets/images/icon-action-info.png ">
                                <img src="/assets/images/icon-action-block.png ">
                                <img src="/assets/images/icon-action-delete_forever.png ">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="icon-sub" style="background-image: url(/assets/images/sub-logo-1.jpg)">
                            Matdematics for Machine Learning Specialization
                        </td>
                        <td>
                            <img class="icon-tea"
                                style="background-image: url(/assets/images/teacher1.jpg);background-size: 67px">
                            David Dye
                        </td>
                        <td><img class="icon-status" src="/assets/images/active.png"></td>
                        <td>18.05.2020</td>
                        <td>
                            <div>
                                <img src="/assets/images/icon-action-info.png ">
                                <img src="/assets/images/icon-action-block.png ">
                                <img src="/assets/images/icon-action-delete_forever.png ">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="icon-sub" style="background-image: url(/assets/images/sub-logo-1.jpg)">
                            Matdematics for Machine Learning Specialization
                        </td>
                        <td>
                            <img class="icon-tea"
                                style="background-image: url(/assets/images/teacher1.jpg);background-size: 67px">
                            David Dye
                        </td>
                        <td><img class="icon-status" src="/assets/images/active.png"></td>
                        <td>18.05.2020</td>
                        <td>
                            <div>
                                <img src="/assets/images/icon-action-info.png ">
                                <img src="/assets/images/icon-action-block.png ">
                                <img src="/assets/images/icon-action-delete_forever.png ">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="icon-sub" style="background-image: url(/assets/images/sub-logo-1.jpg)">
                            Matdematics for Machine Learning Specialization
                        </td>
                        <td>
                            <img class="icon-tea"
                                style="background-image: url(/assets/images/teacher1.jpg);background-size: 67px">
                            David Dye
                        </td>
                        <td><img class="icon-status" src="/assets/images/active.png"></td>
                        <td>18.05.2020</td>
                        <td>
                            <div>
                                <img src="/assets/images/icon-action-info.png ">
                                <img src="/assets/images/icon-action-block.png ">
                                <img src="/assets/images/icon-action-delete_forever.png ">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="icon-sub" style="background-image: url(/assets/images/sub-logo-1.jpg)">
                            Matdematics for Machine Learning Specialization
                        </td>
                        <td>
                            <img class="icon-tea"
                                style="background-image: url(/assets/images/teacher1.jpg);background-size: 67px">
                            David Dye
                        </td>
                        <td><img class="icon-status" src="/assets/images/active.png"></td>
                        <td>18.05.2020</td>
                        <td>
                            <div>
                                <img src="/assets/images/icon-action-info.png ">
                                <img src="/assets/images/icon-action-block.png ">
                                <img src="/assets/images/icon-action-delete_forever.png ">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="icon-sub" style="background-image: url(/assets/images/sub-logo-1.jpg)">
                            Matdematics for Machine Learning Specialization
                        </td>
                        <td>
                            <img class="icon-tea"
                                style="background-image: url(/assets/images/teacher1.jpg);background-size: 67px">
                            David Dye
                        </td>
                        <td><img class="icon-status" src="/assets/images/active.png"></td>
                        <td>18.05.2020</td>
                        <td>
                            <div>
                                <img src="/assets/images/icon-action-info.png ">
                                <img src="/assets/images/icon-action-block.png ">
                                <img src="/assets/images/icon-action-delete_forever.png ">
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>


        </div>
        <div class="box-sort">
            <select class="form-select" aria-label="Default select example">
                <option selected style="display: none;">Sort by</option>
                <option value="1">Course</option>
                <option value="2">Teacher</option>
                <option value="3">Status</option>
                <option value="3">Date</option>
            </select>
        </div>
        <div class="box-radio">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Course
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    Teacher
                </label>
            </div>
        </div>
        <div class="box-select">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Math
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Physics
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    AI
                </label>
            </div>
        </div>
    </div>


    <div id="fram-2">
        <div id="main-content">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">Teacher</th>
                        <th class="text-center">Subject</th>
                        <th class="text-center">Human race</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img class="icon-tea"
                                style="background-image: url(/assets/images/teacher1.jpg);background-size: 67px">
                            David Dye
                        </td>
                        <td class="text-center">Math</td>
                        <td class="text-center">American</td>
                        <td class="text-center"><img class="icon-status" src="/assets/images/active.png"></td>
                        <td>
                            <div>
                                <img src="/assets/images/icon-action-info.png ">
                                <img src="/assets/images/icon-action-block.png ">
                                <img src="/assets/images/icon-action-delete_forever.png ">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="icon-tea"
                                style="background-image: url(/assets/images/teacher1.jpg);background-size: 67px">
                            David Dye
                        </td>
                        <td class="text-center">Math</td>
                        <td class="text-center">American</td>
                        <td class="text-center"><img class="icon-status" src="/assets/images/active.png"></td>
                        <td>
                            <div>
                                <img src="/assets/images/icon-action-info.png ">
                                <img src="/assets/images/icon-action-block.png ">
                                <img src="/assets/images/icon-action-delete_forever.png ">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="icon-tea"
                                style="background-image: url(/assets/images/teacher1.jpg);background-size: 67px">
                            David Dye
                        </td>
                        <td class="text-center">Math</td>
                        <td class="text-center">American</td>
                        <td class="text-center"><img class="icon-status" src="/assets/images/active.png"></td>
                        <td>
                            <div>
                                <img src="/assets/images/icon-action-info.png ">
                                <img src="/assets/images/icon-action-block.png ">
                                <img src="/assets/images/icon-action-delete_forever.png ">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="icon-tea"
                                style="background-image: url(/assets/images/teacher1.jpg);background-size: 67px">
                            David Dye
                        </td>
                        <td class="text-center">Math</td>
                        <td class="text-center">American</td>
                        <td class="text-center"><img class="icon-status" src="/assets/images/active.png"></td>
                        <td>
                            <div>
                                <img src="/assets/images/icon-action-info.png ">
                                <img src="/assets/images/icon-action-block.png ">
                                <img src="/assets/images/icon-action-delete_forever.png ">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="icon-tea"
                                style="background-image: url(/assets/images/teacher1.jpg);background-size: 67px">
                            David Dye
                        </td>
                        <td class="text-center">Math</td>
                        <td class="text-center">American</td>
                        <td class="text-center"><img class="icon-status" src="/assets/images/active.png"></td>
                        <td>
                            <div>
                                <img src="/assets/images/icon-action-info.png ">
                                <img src="/assets/images/icon-action-block.png ">
                                <img src="/assets/images/icon-action-delete_forever.png ">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="icon-tea"
                                style="background-image: url(/assets/images/teacher1.jpg);background-size: 67px">
                            David Dye
                        </td>
                        <td class="text-center">Math</td>
                        <td class="text-center">American</td>
                        <td class="text-center"><img class="icon-status" src="/assets/images/active.png"></td>
                        <td>
                            <div>
                                <img src="/assets/images/icon-action-info.png ">
                                <img src="/assets/images/icon-action-block.png ">
                                <img src="/assets/images/icon-action-delete_forever.png ">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="icon-tea"
                                style="background-image: url(/assets/images/teacher1.jpg);background-size: 67px">
                            David Dye
                        </td>
                        <td class="text-center">Math</td>
                        <td class="text-center">American</td>
                        <td class="text-center"><img class="icon-status" src="/assets/images/active.png"></td>
                        <td>
                            <div>
                                <img src="/assets/images/icon-action-info.png ">
                                <img src="/assets/images/icon-action-block.png ">
                                <img src="/assets/images/icon-action-delete_forever.png ">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="icon-tea"
                                style="background-image: url(/assets/images/teacher1.jpg);background-size: 67px">
                            David Dye
                        </td>
                        <td class="text-center">Math</td>
                        <td class="text-center">American</td>
                        <td class="text-center"><img class="icon-status" src="/assets/images/active.png"></td>
                        <td>
                            <div>
                                <img src="/assets/images/icon-action-info.png ">
                                <img src="/assets/images/icon-action-block.png ">
                                <img src="/assets/images/icon-action-delete_forever.png ">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="icon-tea"
                                style="background-image: url(/assets/images/teacher1.jpg);background-size: 67px">
                            David Dye
                        </td>
                        <td class="text-center">Math</td>
                        <td class="text-center">American</td>
                        <td class="text-center"><img class="icon-status" src="/assets/images/active.png"></td>
                        <td>
                            <div>
                                <img src="/assets/images/icon-action-info.png ">
                                <img src="/assets/images/icon-action-block.png ">
                                <img src="/assets/images/icon-action-delete_forever.png ">
                            </div>
                        </td>
                    </tr>


                </tbody>
            </table>


        </div>
        <div class="box-sort">
            <select class="form-select" aria-label="Default select example">
                <option selected style="display: none;">Sort by</option>
                <option value="1">Course</option>
                <option value="2">Teacher</option>
                <option value="3">Status</option>
                <option value="3">Date</option>
            </select>
        </div>
        <div class="box-radio">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Course
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    Teacher
                </label>
            </div>
        </div>
        <div class="box-select">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Math
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Physics
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    AI
                </label>
            </div>
        </div>
    </div>
    {{> pagination }}


    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"></script>