<div class="sidebar">
  <div class="container">
    <div class="logo-mini"></div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">
          {{#ifStr where 'home' }} 
          <span>
            <img class="icon-choose" src="/assets/images/icon-choose.png">
          </span> 
          <img src="/assets/images/icon-home-on.png">
          {{else}} 
          <img src="/assets/images/icon-home-off.png">
          {{/ifStr}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/search">
          {{#ifStr where 'search' }} 
          <span>
            <img class="icon-choose" src="/assets/images/icon-choose.png">
          </span> 
          <img src="/assets/images/icon-search-on.png">
          {{else}} 
          <img src="/assets/images/icon-search-off.png">
          {{/ifStr}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/statistic">
          {{#ifStr where 'statistic' }} 
          <span>
            <img class="icon-choose" src="/assets/images/icon-choose.png">
          </span> 
          <img src="/assets/images/icon-statistic-on.png" alt="" srcset="">
          {{else}} 
          <img src="/assets/images/icon-statistic-off.png" alt="" srcset="">
          {{/ifStr}}
        </a>
      </li>
    </ul>
  </div>
</div>